md-icon.avatar {
  width: 64px;
  height: 64px;
  margin: 12px;
  overflow: hidden;
  border-radius: 50%;
}

md-card {
  width: 600px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
