md-card {
  margin: 5px;
  width: 20em;
  flex: 0 0 20em;
}

md-card-content {
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}